@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff") format("woff");
}
@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 800;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff") format("woff");
}
body{
  padding: 0;
  margin: 0;
}
nav{
  background: white;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.top-color{
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  text-shadow: rgb(0, 0, 0) 0px 2px 1em;
}
#img-overflow{
  overflow: hidden;
  background: rgb(216, 216, 216);
  z-index: -2;
}
#background-img{
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0s;
  opacity: 1;
  z-index: -1;
}
#logo-link{
  color: rgb(255, 90, 95);
  display: inline-block;
  font-size: 2rem;
}
#logo-link:hover{
  color: rgb(255, 90, 95);
}
.input-style{
  background-color: transparent;
  border: solid #DBDBDB 1px;
  border-radius: 0px;
  height: 44px;
}
.input-style-left{
  background-color: transparent;
  border: solid #DBDBDB 1px;
  border-right: 0;
  border-radius: 0px;
  height: 44px;
}
.input-style-right{
  background-color: transparent;
  border: solid #DBDBDB 1px;
  border-left: 0;
  border-radius: 0px;
  height: 44px;
}
.normal-font{
  font-size: 1rem;
  line-height: 1.2rem;
}
.normal-font, .normal-font-bold, .p1, .p2, .p3, .para3, .tdrl, select{
  color: rgb(72, 72, 72);
}
.normal-font-bold{
  font-size: 2.3em;
}
.font-white-bold{
  font-size: 2rem;
  line-height: 2.2rem;
  color: rgb(255,255,255);
  margin: 0;
  padding: 0;
}
.font-white{
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}
.button-color, small, #nazelles, #avignon, #yourte, #description, h3, h4, #bouton{
  font-weight: 800;
}
.button-color{
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background: rgb(255, 90, 95);
  border-color: transparent;
  color: rgb(255, 255, 255);
}
.button-color:active{
  background: #de2b37;
  transition: all 0.5s ease;
}
small{
  text-transform: capitalize;
}
.white-bg{
  background: white;
  border-radius: 5px;
}
.pmtitre{
  font-size: 19px;
}
.pmtitre1{
  font-size: 1em;
}
.timg, .timg2, .pmtitre1, h3, h4, .pconfig{
  color: #484848;
}
.timg, .timg2, .pmtitre1{
  font-weight: bold;
}
.timg, .timg2{
  font-size: 2em;
}
.para, .para2, a, .ua a:hover{
  color: #767676;
}
.para, .FB, .TW, .IT, li, .tdrl, select, .para2{
  font-size: 14px;
}
.ua li, .para{
  font-weight: 600;
}
#margin-left{
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#car1{
  margin-right: 200px;
}
.media-img{
  height: 40px;
  width: 40px;
}
.media-name, .media-country{
  color: #767682;
}
.media-name, .media-country, .contenu p, .tdrl{
  font-weight: 600;
}
.media-name, .p1, .p2, .p3, .para3{
  font-size: 1rem;
}
.media-country{
  font-size: 0.7rem;
}
.p1, .p2, .p3, .para3, li, .tdrl, select{
  line-height: 18px;
}
.p1, .p2, .p3, .para3{
  display: inline;
}
.para3{
  overflow-wrap: break-word;
}
ul li{
  list-style-type: none;
  text-align: left;
}
#nazelles{
  color: rgb(115,79,33);
}
#avignon{
  color: rgb(52,30,19);
}
#yourte{
  color: rgb(165,41,3);
}
#nazelles, #avignon, #yourte{
  line-height: 16px;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
#description{
  font-size: 19px;
}
.fa-star , .fa-star-half{
  color: #008489;
}
#classement{
  font-size: 12px;
}
#superhost, .normal-font-bold, .font-white-bold, .pmtitre{
  font-weight: bold;
}
#superhost, #description{
  line-height: 1.2rem;
  color: rgb(72,72,72);
}
.filtrePiscine{
  background-color: blue;
}
#piscine{
margin-top: -110px;
text-align: center;
color:white;
font-weight: 800;
font-size: 22px;
}
.Bordure {
  border-bottom:1px solid black;
}
a{
  text-decoration: none;
}
ul{
  list-style: outside none ;
}
.ua a:hover{
  text-decoration: underline;
}
.contenu{
  margin-left: 15%;
  margin-right: 15%;
}
h3, h4{
  text-shadow: 1px #4870ae;
}
h4{
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2"), url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff") format("woff");
  font-size:1em;
  margin-left: 40px;
}
.FB, .TW, .IT{
  font-weight: 600 ;
  line-height: 18px ;
  letter-spacing: normal ;
}
#bouton{
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  background: transparent;
  border:2px solid #008489;
  color: #008489;
}
#bouton:active{
  background: #4ea6a6;
  transition: all 0.5s ease;
}
.pconfig{
  line-height: 22px;
  text-align: left;
}
li{
  margin-bottom: 4px;
}
.botline1, .botline2{
  border-bottom:1px solid rgb(219, 219, 219);
}
.contenu svg{
  margin-left: 45%;
}
.contenu p{
  font-size:14px;
  color: rgb(118, 118, 118);
}
.tdrl{
  cursor: pointer;
  border: none
}
.news{
  border-radius: 5px;
  background-color: #008489;
  color:white;
  border: 1px solid #008489;
}
